body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image: linear-gradient(to right, orange,grey, yellow, green, skyblue);
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 74px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 74px;
}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  text-align: center;
 /* // margin: 23px 153px auto; */
}
  .del{
      background-color: red;
  }
  .start{
      margin-left: 32%;
  }
  .container{
      margin-top: 23vh;
  }
  .containers{
      margin: 23vh 56vh auto;
  }
  .card-body{
    background-color: whitesmoke;
  }
.game-info {
  margin-left: 20px;
}
.start{
  padding-left: 53%;
}
@media only screen and (max-width: 768px) {
  .start{
     padding-left: 0;
  }
  .containers{
      margin: 23vh 2vh auto;
  }
  .px-2 h2{
    font-size: 19px;
  }
}
@media only screen and (max-width: 380px) {
.square{
  background-color: greenyellow;
  width: 42px;
}
}
